
body {
    display: grid;
    margin: 0;
    min-height: 100%;
    grid-template-rows: 60px 1fr 36px;
    grid-template-columns: 160px 1fr;
}
header {
    max-width: 740px;
    margin-top: 10px;
    grid-row: 1;
    grid-column: 1 / span 2;
    color: #14449A;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    /* background: #faa; */
}
nav {
    margin: 10px;
    margin-top: 20px;
    grid-row: 2;
    grid-column: 1;
    /* background: #aaf; */
}
main {
    max-width: 800px;
    grid-row: 2;
    grid-column: 2;
    margin: 10px;
    /* background: #afa; */
}
footer {
    grid-row: 3;
    grid-column: 1 / span 2;
    font-size: 80%;
    font-weight: bold;
    padding-right: 10px;
    /* background: #aaa; */

}
