
#nav {
    list-style: none;
    overflow: hidden;
}

#nav li {
    float: right;
    padding: 10px;
    font-weight: bold;
}

#nav li a {
    color: #14449A;
    text-decoration: none;
}

#nav li a:visited {
    color: #14449A;
}

.none {
    display: none;
}
