
.nav {
    padding-left: 10px;
    list-style: none;
    overflow: hidden;
}

.nav li {
    text-align: center;
    float: right;
    padding: 10px;
    font-weight: bold;
}

.nav li a {
    color: #14449A;
    text-decoration: none;
}

.nav li a:visited {
    color: #14449A;
}

.none {
    display: none;
}
