/*
 * Markdown PDF CSS
 */

 /*
widget normal 	= #444
widget disabled = #444
text normal   	= #ccc
text hover      = #eee
text disabled  	= #888
button border   = #444
button hover    = #777
button normal  	= #555
button disabled	= #4f4f4f
button pressed	= #2b2b2b
menu back image = #3c3c3c
input back     	= #2b2b2b
alternate item  = #333
spareter & line = #222
focus           = #aaa
selection highlight = #568cae
*/
 
body {
	color: #ccc;
	background-color: #333;
	font-family:  "Meiryo", "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback";
}

p {
	margin-left: 20px;
}

pre {
	background-color: #2b2b2b;
	border: 1px solid #222;
	border-radius: 3px;
	overflow-x: auto;
	/* white-space: pre-wrap; */
	overflow-wrap: break-word;
	word-wrap: break-word;
	margin: 0 20px 0 20px;
}

pre:not(.hljs) {
	padding: 10px;
	line-height: 1.4em;
}

blockquote {
	background: #444;
	border-color: #568cae;
}

.emoji {
	height: 1.4em;
}

/* for inline code */
:not(pre):not(.hljs) > code {
	color: #C9AE75; /* Change the old color so it seems less like an error */
	font-size: inherit;
}

/* Page Break : use <div class="page"/> to insert page break
-------------------------------------------------------- */
.page {
	page-break-after: always;
}
