<!DOCTYPE html>
<html>
    
    <head>
        <meta charset='utf-8'>
        <title>{{ page.title }} - @unitbus</title>
    </head>
    
    <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/laCour/slack-night-mode/master/css/raw/black.css" type="text/css"> -->
    <link rel="stylesheet" href="https://unitbus.github.io/sytle.css" type="text/css">
    
    <body>
        
        <script src="js/top.js"></script> 
        <div class="container"> {{ content }} </div>
        
        <!-- ｛｛ content ｝｝ -->
    </body>
</html>
