<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="google-site-verification" content="FuqcB3d38YGzg8GiWAApyXtuOu3PW6urs3iePVJ2o-o" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://unitbus.github.io/favicon.ico">
    <link rel="stylesheet" href="https://unitbus.github.io/style.css" type="text/css">
    <link rel="stylesheet" href="https://unitbus.github.io/style_grid.css" type="text/css">
    <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/laCour/slack-night-mode/master/css/raw/black.css" type="text/css"> -->
</head>

<body>
<script src="js/top.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50817371-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-50817371-1');
</script>

<div class=".top">
{{ page.title }}
</div>

<nav>
<ul>
<li><a href="https://unitbus.github.io/pages/download">Download</a></li>
<li><a href="https://unitbus.github.io/pages/python">Python</a></li>
<li><a href="https://unitbus.github.io/pages/pyside">PySide</a></li>
<li><a href="https://unitbus.github.io/pages/github">GitHub</a></li>
</ul>
</nav>

<main>
{{ content }}
</main>

<!-- 
<div class="container">
<div class="content-inside">
{{ content }}
</div>
</div>
 -->

<footer class="footer">
(C) 2019 Co, UnitBus.
</footer>

</body>
</html>
