<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="FuqcB3d38YGzg8GiWAApyXtuOu3PW6urs3iePVJ2o-o" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    
    <link rel="stylesheet" href="../styles/style_dark.css" type="text/css" id="dark">
    <link rel="stylesheet" href="../styles/style_base.css" type="text/css">
    <link rel="stylesheet" href="../styles/style_grid.css" type="text/css">
    <link rel="stylesheet" href="../styles/style_accordion.css" type="text/css">
    <link rel="stylesheet" href="../styles/style_min.css" type="text/css">
</head>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../styles/style_hamburger.js"></script>

<script type="text/javascript">
    function changesytle(cssid,cssfile) {
        document.getElementById(cssid).href = cssfile;
    }
</script>

<body>

<header class="header">
    {{ page.title }}
</header>

<nav class="nav">
    <div class="nav-list">
    
        <div class="cp_actab">
            <input id="tab-one" type="checkbox" name="tabs">
            <label for="tab-one">Contents</label>
            <div class="cp_actab-content">
                <p><a href="https://unitbus.github.io/pages/download">Download</a></p>
            </div>
        </div>
        
        <div class="cp_actab">
            <input id="tab-two" type="checkbox" name="tabs">
            <label for="tab-two">Documents</label>
            <div class="cp_actab-content">
                <p><a href="https://unitbus.github.io/pages/python">Python/Basic</a></p>
                <p><a href="https://unitbus.github.io/pages/pyside">Python/PySide</a></p>
                <p><a href="https://unitbus.github.io/pages/github">GitHub</a></p>
            </div>
        </div>
    </div>
    
    <div class="cp_acopt">
    STYLE： 
    <select onchange="changesytle('dark',value);">
        <option value="../styles/style_dark.css">drak</option>
        <option value="../styles/style_light.css">light</option>
    </select>
    </div>
    
</nav>



<main>
<h1 id="standalone">standalone</h1>

<h2 id="cpp">cpp</h2>

<p>古いデータですが置いておきます。</p>

<ul>
  <li><a href="https://unitbus.github.io/download/standalone/cpp/data/ProcessLimiter_150704.7z">ProcessLimiter_150704.7z</a></li>
</ul>

<h1 id="maya">maya</h1>

<h2 id="python">python</h2>

<p>現在準備中です。</p>

<h2 id="mel">mel</h2>

<p>古いデータですが置いておきます。</p>

<ul>
  <li><a href="https://unitbus.github.io/download/maya/mel/data/MultiRenamer_ver3.1.7z">MultiRenamer_ver3.1.7z</a></li>
  <li><a href="https://unitbus.github.io/download/maya/mel/data/QuickVertexColor_ver4.2.7z">QuickVertexColor_ver4.2.7z</a></li>
  <li><a href="https://unitbus.github.io/download/maya/mel/data/SeparateMaterialFace_ver1.2.7z">SeparateMaterialFace_ver1.2.7z</a></li>
  <li><a href="https://unitbus.github.io/download/maya/mel/data/UnitBusTextureEditor_ver1.7.7z">UnitBusTextureEditor_ver1.7.7z</a></li>
  <li><a href="https://unitbus.github.io/download/maya/mel/data/UnitBusUI_ver0.86.7z">UnitBusUI_ver0.86.7z</a></li>
</ul>


<h1 id="blender-reference">Blender Reference</h1>

<h2 id="チュートリアル">チュートリアル</h2>

<blockquote>
<p>note.: [2.8]Blenderで草生やしてみた</p>
https://note.mu/lab1092/n/n1cf5235183a5
</blockquote>


</main>



<footer class="footer">
(C) 2019 Co, UnitBus.
</footer>

</body>
</html>
