<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="FuqcB3d38YGzg8GiWAApyXtuOu3PW6urs3iePVJ2o-o" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    
    <link rel="stylesheet" href="../styles/style_dark.css" type="text/css" id="dark">
    <link rel="stylesheet" href="../styles/style_base.css" type="text/css">
    <link rel="stylesheet" href="../styles/style_grid.css" type="text/css">
    <link rel="stylesheet" href="../styles/style_accordion.css" type="text/css">
    <link rel="stylesheet" href="../styles/style_min.css" type="text/css">
</head>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../styles/style_hamburger.js"></script>

<script type="text/javascript">
    function changesytle(cssid,cssfile) {
        document.getElementById(cssid).href = cssfile;
    }
</script>

<body>

<header class="header">
    {{ page.title }}
</header>

<nav class="nav">
    <div class="nav-list">
    
        <div class="cp_actab">
            <input id="tab-one" type="checkbox" name="tabs">
            <label for="tab-one">Contents</label>
            <div class="cp_actab-content">
                <p><a href="https://unitbus.github.io/pages/download">Download</a></p>
            </div>
        </div>
        
        <div class="cp_actab">
            <input id="tab-two" type="checkbox" name="tabs">
            <label for="tab-two">Documents</label>
            <div class="cp_actab-content">
                <p><a href="https://unitbus.github.io/pages/python">Python/Basic</a></p>
                <p><a href="https://unitbus.github.io/pages/pyside">Python/PySide</a></p>
                <p><a href="https://unitbus.github.io/pages/github">GitHub</a></p>
            </div>
        </div>
    </div>
    
    <div class="cp_acopt">
    STYLE： 
    <select onchange="changesytle('dark',value);">
        <option value="../styles/style_dark.css">drak</option>
        <option value="../styles/style_light.css">light</option>
    </select>
    </div>
    
</nav>

<main>
<h1 id="github">GitHub</h1>

<p>オンラインで、複数人と、サブバージョン管理できるサービス？<br />
アカウント作るだけ作って放置してたので、よくわかってない。</p>

<h1 id="github-pages">GitHub Pages</h1>

<p>GitHubを利用して、静的ページなサイトを作れるらしいので調査とメモ。<br />
wordpress的なのを、動的ページと言うらしい。</p>

<p>まず、調べても、gitがなんなのかピンとこなかったので、git自体の理解は保留。<br />
直接、コマンドラインからgitを操作するようなのは無しで、運用できないか調査。</p>

<p>軽く調べるとわかるが、 <code class="highlighter-rouge">&lt;アカウント名&gt;.github.io</code> というリポジトリを作るだけらしい。<br />
簡単なので説明は割愛。</p>

<h2 id="やりたいこと">やりたいこと</h2>

<ul>
  <li>window10環境、コマンドラインをなるべく使わない</li>
  <li>markdownでメモを取る感覚でページの作成、そのまま投稿</li>
</ul>

<h3 id="window10環境">window10環境</h3>

<p>GitHubのページ見てもいまいち感覚がわからず、そもそもアップロードの仕方もわからん。<br />
<strong>GitHub Desktop</strong> というアプリを入れれば、色々問題が解決した。</p>

<p>ローカルのフォルダを指定し、ローカルリポジトリにすることで同期が可能に。<br />
特に複雑な設定もなく、コマンドライン操作も要らない。</p>

<p>ただ、アプリのインストール先が、今風なので注意。データ保存先はroaming。<br />
最近この手のアプリが増えて、管理面倒…。</p>

<p><strong>インストール先</strong></p>

<p><code class="highlighter-rouge">C:\Users\%USERNAME%\AppData\Local\GitHubDesktop</code></p>

<p><strong>データ保存先</strong></p>

<p><code class="highlighter-rouge">C:\Users\%USERNAME%\AppData\Roaming\GitHub Desktop</code></p>

<p>個人的には、この手のは <code class="highlighter-rouge">mklink</code> でジャンクション作って、別の場所で管理。<br />
バックアップ管理とか、別マシンで使いたかったりするので。</p>

<h3 id="markdown">markdown</h3>

<p>もう一つ個人的に重要だったのが、markdownの使用。</p>

<p>はっきり言って、もう記事書くのに、htmlは触りたくないので、譲れないポイント。<br />
かと言って、wordpress的な動的サイトは、記事を書くのが面倒になるので飽きてくる。</p>

<p>この問題は、何もしなくても、みごとクリア。<br />
md置くだけで、GitHub側に、jekyllというツールがインストールされてる？らしく、<br />
何もしなくてもhtmlで表示してくれます。</p>

<p><del>後は書くだけなはず。</del></p>

<p>vscodeで書いてるが、previewでは大丈夫でも、htmlで見ると乱れる所がチラホラ…。<br />
githubで、mdを直接見ると大丈夫だったりする。</p>

<p><strong>details内のコードブロックが効かない</strong></p>

<details>
<summary>畳むタイトル</summary>

```
コードブロック
```

</details>

<p><strong>markdown-breaksが適用されない</strong></p>

<p>ダブルスペースで改行するのは嫌なので、breaksオプションが使えないのはツライ。</p>

<p>そもそも、書いてるときに読みづらいから改行して書いてるのに、<br />
<em>「ブラウザの幅に合わせて改行すべき」</em> って、本家の謎の思想が意味わからん。<br />
書いたままの見た目で出せ。と毎回思う。</p>

<p><a href="#markdownの改行">markdownの改行</a></p>

<h2 id="除外ファイルフォルダ">除外ファイル、フォルダ</h2>

<p><code class="highlighter-rouge">.gitignore</code> を置いて、ファイル名等を書くだけ。</p>

<p>公開したくないファイルとか、.vscodeとか、まぁその辺。<br />
<code class="highlighter-rouge">.gitignore</code> 自身も追記しておけば、除外可能。</p>

<h1 id="jekyll">jekyll</h1>

<p>必要なファイルと、階層はこんな感じ。</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>■ フォルダ、◻ ファイル

■ site.github.io
    ■ _layouts
        ◻ defaut.html
    ◻ _config.yml
    ◻ favicon.ico
    ◻ style.css
    ◻ index.md
</code></pre></div></div>

<h2 id="ページのスタイル">ページのスタイル</h2>

<p><code class="highlighter-rouge">_layout/defaut.html</code> みたいな感じで置いておくと、テンプレートとして適用される。<br />
ファイル名は、maekdown側から指定する感で、複数配置して切り替え可能。<br />
多分、指定なければ <code class="highlighter-rouge">defaut.html</code> になる？</p>

<p><code class="highlighter-rouge">content</code> の部分に、markdownが変換され挿入される。<br />
デザイン変更、スタイルシート等ここで設定しておく感じ。</p>

<p>普通にjs(javaScript)も使えるっぽい。</p>

<h2 id="markdownの改行">markdownの改行</h2>

<p>markdownの場合、半角スペース二個、<code class="highlighter-rouge">&lt;br&gt;</code> を使わずに、書いた通り改行させるには<br />
markdown-breaksという設定で切り替え可能なのだが、GitHubには見当たらないので調べてみた。</p>

<p>GitHubは、普通のmarkdownじゃないらしい。ここを見ると、</p>

<p>https://help.github.com/ja/articles/updating-your-markdown-processor-to-kramdown</p>

<p><em>「GitHub Pages は、Markdown プロセッサとして kramdown だけをサポートします。」</em><br />
だそうです。</p>

<p>で、設定方法は、 <code class="highlighter-rouge">_config.yml</code> に追記する。</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>kramdown:
    input: GFM
    hard_wrap: true
</code></pre></div></div>

<p>と、 <code class="highlighter-rouge">kramdown</code> の <code class="highlighter-rouge">hard_wrap</code> として設定してあげる。<br />
ちなみに、GFMは、 <code class="highlighter-rouge">GitHub Flavored Markdown</code> らしい。</p>

<h2 id="sitemap">sitemap</h2>

<p>数日経っても、google検索に引っかからなかったので、調べてみると<br />
<code class="highlighter-rouge">sitemap</code> が必要らしい。すでに作成されてる場合は以下で確認できる。</p>

<p><code class="highlighter-rouge">https://site.github.io/sitemap.xml</code></p>

<p>設定方法は、 <code class="highlighter-rouge">_config.yml</code> に追記する。</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>plugins:
    - jekyll-sitemap
</code></pre></div></div>

</main>



<footer class="footer">
(C) 2019 Co, UnitBus.
</footer>

</body>
</html>
