@media screen and (max-width: 800px){
    body{
        font-size: 80%;
        grid-template-rows: auto 30px 1fr 24px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "sideA"
            "areaA"
            "areaB"
            "areaC";
        }
    nav {
        position: relative;
        margin: 0px;
        padding: 0px;
        background: var(--middleColor);
        width: 100%;
        height: initial;
    }
    header {
        padding: 10px;
    }
    
    .nav-list {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid var(--borderColorA);
    }
    
    .sample-articles {
        padding: 10px 1em;
    }
    .sample-articles > article {
        margin-bottom: 50px;
        padding-top: 100px;
    }
}

@media screen and (max-width: 600px){
    body{
        font-size: 60%;
    }
    nav {
        display: block;
    }
}

@media screen and (max-width: 400px){
    body{
        min-width: none;
        font-size: 40%;
    }
    nav {
        display: none;
    }
    main {
        display: block;
    }
}
