:root {
    --textColor: hsl(224, 0%, 10%);
    --bgColor: hsl(224, 0%, 92%);
    
    --codeColor: hsl(224, 0%, 16%);
    --codeBgColor: hsl(224, 0%, 88%);
    
    --borderColorA: hsl(224, 0%, 34%);
    --borderColorB: hsl(224, 0%, 40%);
    --borderColorC: hsl(224, 0%, 80%);
    
    --menuTextColor: var(--bgColor);
    --menuBgColor: hsl(224, 40%, 40%);
    
    --linkColor: var(--textColor);
    --linkVisit: var(--h1);
    --hoverColor: hsl(224, 100%, 42%);
    --activeColor: hsl(0, 40%, 42%);
    
    --h1: hsl(219, 77%, 34%);
    --h2: hsl(229, 38%, 56%);
    
    --middleColor: hsl(0, 0%, 80%);
    --other: hsl(60, 3%, 86%);
    
    --fotterColor: hsl(224, 8%, 12%);
    --fotterBgColor: hsl(224, 8%, 73%);
    --fotterBorderAColor: hsl(224, 8%, 80%);
    --fotterBorderBColor: hsl(224, 8%, 34%);
    
    --attrdColor: hsl(0, 0%, 80%);
    --commentColor: hsl(120, 60%, 20%);
    --constantColor: #ffff00;
    --deletedColor: #ff0000;
    --insertedColor: #00ff00;
    --keywordColor: hsl(44, 59%, 65%);
    --otherColor: hsl(0, 0%, 38%);
    --typedColor: #ffa500;
    --dataColor: hsl(221, 100%, 56%);
    
    --syntaxColorA: #586E75; /* Comment */
    --syntaxColorB: #93A1A1; /* Error */
    --syntaxColorC: #859900; /* Keyword */
    --syntaxColorD: #CB4B16; 
    --syntaxColorE: #2AA198;
    --syntaxColorF: #DC322F;
    --syntaxColorG: #268BD2;
    --syntaxColorH: #B58900;
    --syntaxColorI: #555; /* Other */
}
