body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr auto;
    grid-template-columns: 220px 1fr;
    grid-template-areas:
        "sideA areaA"
        "sideA areaB"
        "areaC areaC";
}

nav {
    grid-area: sideA;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background: var(--middleColor);
    width: 220px;
    height: 100%;
    z-index: 1;
}

header {
    grid-area: areaA;
    color: var(--h1);
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

main {
    margin: 0px;
    padding: 0px;
    grid-area: areaB;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    grid-area: areaC;
    font-size: 80%;
    font-weight: bold;
    padding-right: 10px;
    z-index: 2;
}
