:root {
    --textColor: hsl(224, 0%, 10%);
    --bgColor: hsl(224, 0%, 92%);
    
    --codeColor: hsl(224, 8%, 94%);
    --codeBgColor: hsl(224, 6%, 8%);
    
    --borderColorA: hsl(224, 0%, 34%);
    --borderColorB: hsl(224, 0%, 40%);
    --borderColorC: hsl(224, 0%, 80%);
    
    --menuTextColor: var(--bgColor);
    --menuBgColor: hsl(0, 0%, 80%);
    --labelBgColor: hsl(224, 40%, 40%);
    
    --linkColor: var(--textColor);
    --linkVisit: var(--textColor);
    --hoverColor: hsl(224, 100%, 42%);
    --strongColor: hsl(0, 40%, 42%);
    --italicColor: hsl(200, 90%, 42%);
    
    --h1: var(--bgColor);
    --h2: hsl(219, 77%, 34%); 
    --code: hsl(40, 80%, 40%);
    --title: var(--textColor);
    --other: hsl(60, 3%, 86%);
    
    --fotterColor: hsl(224, 8%, 12%);
    --fotterBgColor: hsl(224, 8%, 73%);
    --fotterBorderAColor: hsl(224, 8%, 80%);
    --fotterBorderBColor: hsl(224, 8%, 34%);
    
    --syntaxColorA: hsl(194, 14%, 40%); /* Comment */
    --syntaxColorB: hsl(180, 7%, 60%); /* Error */
    --syntaxColorC: hsl(68, 100%, 30%); /* Keyword */
    --syntaxColorD: hsl(18, 80%, 44%); 
    --syntaxColorE: hsl(175, 59%, 40%);
    --syntaxColorF: hsl(1, 71%, 52%);
    --syntaxColorG: hsl(205, 69%, 49%);
    --syntaxColorH: hsl(45, 100%, 35%);
    --syntaxColorI: hsl(0, 0%, 33%); /* Other */
}
