/* Image */
.resizeimage img {
    max-width: 100%;
}

.selector {
    /* background: red; */
    position: relative;
    float: left;
    padding: 0 0 0 1em;
    margin: auto 4px;
    color: var(--fotterColor);
    font-size: 80%;
    font-weight: bold;
}
.selector select {
    position: relative;
    line-height: 1.4em;
    background: var(--codeBgColor);
    color: var(--codeColor);
}
.selector option {
    background: var(--codeBgColor);
}

