.menu {
    display: initial;
    font-size: 1em;
    list-style: initial;
    background: var(--menuBgColor);
}
.menu-list {
    font-size: 0.8em;
    font-weight: bold;
    border-bottom: 1px solid var(--borderColorA);
    height: auto;
    display: none;
}
.menu-list p {
    margin: 0px;
    padding: 4px 10px;
}
.menu-list a {
    display: inline-block;
    text-decoration: none;
}
.menu-list a:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--textColor);
}
.menu-list a:hover {
    display: inline;
    color: var(--hoverColor);
}
.menu-list ul {
    margin-left: -30px;
    list-style: none;
}
.menu-list ol {
    margin-left: -30px;
    list-style: none;
}
.menu-list li {
    list-style: none;
}

.pagetop {
    position: relative;
    float: right;
    bottom: 0px;
    font-size: 80%;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}

/* Accordion Navigation */
.accordion {
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: var(--menuTextColor);
    -webkit-transition: max-height 0.15s;
    transition: max-height 0.15s;
}
.accordion input {
    display: none;
}
.accordion label {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 0px 10px;
    background: var(--labelBgColor);
    font-weight: bold;
    width: auto;
}

/* Accordion :checked */
.accordion input:checked ~ .menu-list {
    height: auto;
    display: block;
}

/* Accordion Icon */
.accordion label::after {
    position: absolute;
    right: 0;
    padding: 0px 10px;
}
.accordion input[type=checkbox] + label::after {
    content: '◀';
    
}
.accordion input[type=checkbox]:checked + label::after {
    content: '◁';
    transform: rotate(-90deg);
}
