:root {
    --textColor: hsl(224, 8%, 86%);
    --codeColor: hsl(224, 8%, 72%);
    
    --bgColor: hsl(224, 0%, 12%);
    --borderColorA: hsl(224, 8%, 80%);
    --borderColorB: hsl(224, 8%, 73%);
    --borderColorC: hsl(224, 8%, 34%);
    
    --menuTextColor: var(--textColor);
    --menuBgColor: hsl(224, 40%, 40%);
    
    --linkColor: var(--textColor);
    --linkVisit: var(--h1);
    --hoverColor: hsl(224, 100%, 42%);
    --activeColor: hsl(0, 40%, 42%);
    
    --h1: hsl(224, 65%, 50%);
    --h2: hsl(224, 50%, 50%);
    
    --middleColor: hsl(224, 8%, 20%);
    --other: rgb(0, 0, 0);
    
    --fotterColor: hsl(224, 8%, 12%);
    --fotterBgColor: hsl(224, 8%, 73%);
    --fotterBorderAColor: hsl(224, 8%, 80%);
    --fotterBorderBColor: hsl(224, 8%, 34%);
}
