body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 48px;
    grid-template-columns: 220px 1fr;
    grid-template-areas:
        "sideA areaA"
        "under under";
}

menu {
    grid-area: sideA;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 220px;
    height: 100%;
    z-index: 1;
}

main {
    grid-area: areaA;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 580px;
    min-width: 100%;
}

footer {
    grid-area: under;
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    font-size: 80%;
    font-weight: bold;
    padding-right: 10px;
    z-index: 2;
}

@media screen and (max-width: 800px){
    body{
        font-size: 80%;
        grid-template-rows: 1fr auto 24px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "areaA"
            "sideA"
            "under";
    }
    main {
        width: 100%;
    }
    menu {
        position: relative;
        margin: 0px;
        padding: 0px;
        background: var(--menuBgColor);
        width: 100%;
        height: initial;
        display: block;
        list-style: none;
        border-top: 1px solid var(--borderColorA);
    }
}

@media screen and (max-width: 600px){
    body{
        font-size: 60%;
    }
}

@media screen and (max-width: 400px){
    body{
        font-size: 40%;
    }
}
