/* 全体設定 */
body {
    height: 100%;
    margin: 0;
    font-family: "Meiryo";
    background: var(--bgColor);
    color: var(--textColor);
}

footer {
    color: var(--fotterColor);
    background: var(--fotterBgColor);
    border-top: double 4px var(--fotterBorderAColor);
    border-bottom: solid 6px var(--fotterBorderBColor);
    vertical-align: bottom;
    text-align: right;
}

p {
    margin: 10px 30px 10px 30px;
}

/* テーブル */
table {
    border: solid 1px var(--borderColorA);
    border-collapse:collapse;
    font-size: 100%;
}
tr {
    border: solid 0px var(--borderColorA);
    border-collapse: collapse;
}
th {
    border: solid 1px var(--borderColorB);
    border-collapse: collapse;
    background-color: var(--borderColorA);
    color: var(--linkColor);
    text-align:center;
}
td {
    border: solid 1px var(--borderColorA);
    border-collapse: collapse;
    empty-cells: show;
}
caption{
    text-align:left;
    font-style:normal;
    font-weight:normal;
}

/* タイトル */
h1 {
    margin: 0px 10px;
    padding: 0px 8px;
    color: var(--h1);
    background-color: var(--labelBgColor);
    font-size: 160%;
}
h2 {
    margin: 0px 20px;
    color: var(--h2);
    border-bottom: solid 1px var(--labelBgColor);
    font-size: 140%;
}
h3 {
    margin-left: 22px;
    font-size:130%;
}
h4 {
    margin-left: 24px;
    font-size:120%;
}
h5 {
    margin-left: 26px;
    font-size:110%;
}
h6 {
    margin-left: 28px;
    font-size:105%;
}
hr {
    border: solid 1px var(--labelBgColor);
}

/* リンク */
a:link {
    color: var(--linkColor);
}
a:visited {
    color: var(--linkVisit);
}
a:hover {
    color: var(--hoverColor);
}
a:active {
    color: var(--strongColor);
}

/* 定義リスト */
dl {
    margin-left: 20px;
}
dt {
    margin: 0px 0px 4px 18px;
    border-bottom: solid 1px var(--borderColorA);
}
dd {
    margin: 0px 0px 4px 18px;
}

/* リスト */
ol{
    margin-left: 10px;
}
ul {
    margin-left: 10px;
    list-style-type: square;
}
li {
    margin: 4px 0px 4px 4px;
}

/* フォーム */
input {
    text-align: center;
    font: 99% arial,helvetica,clean,sans-serif;
    font-size: 90%;
    font-family: Verdana, Arial, sans-serif;
    border:1px solid var(--borderColorA);
    background-color: var(--codeColor);
    margin-top: 1px;
    margin-right: 1px;
    padding: 1px;
}
textarea {
    font: 99% arial,helvetica,clean,sans-serif;
    font-size: 90%;
    font-family: 'Courier New', 'ＭＳ ゴシック', monospace;
    border: solid 1px var(--borderColorA);
    background-color: var(--codeColor);
    margin-top: 0px;
    margin-right: 1px;
    padding: 1px;
    line-height: 1.2;
}
select {
    font: 99% arial,helvetica,clean,sans-serif;
    font-size: 90%;
    font-family: Verdana, Arial, sans-serif;
    border: solid 1px var(--borderColorA);
    background-color: var(--codeColor);
    margin-top: 1px;
    margin-right: 1px;
    padding: 1px;
}

/* リンク */
img{
    border:0;
}
address {
    font-style:normal;font-weight:normal;
    display: inline;
}

/* 太字 斜体 文字大 文字小 等幅*/
b {
    font-weight: bold;
}
i {
    font-style: italic;
}
big {
    font-size: 105%;
}
small {
    font-size: 85%;
}
tt {
    font-family: 'Courier New', 'ＭＳ ゴシック', monospace;
}

/* 強調・追加・削除 */
em {
    font-style: normal;
    font-weight: bold;
    color: var(--italicColor);
}
strong{
    font-style: normal;
    font-weight: bold;
    color: var(--strongColor);
}
ins {
    text-decoration: underline;
}
del {
    text-decoration: line-through;
}

/* 整形済みテキスト */
pre {
    font-family: 'Courier New', 'ＭＳ ゴシック', monospace;
    line-height: 1.4em;
    color: var(--codeColor);
    border: solid 1px var(--borderColorA);
    background: var(--codeBgColor);
    overflow: auto;
    padding: 4px 8px 4px 8px;
    margin: 10px 30px 10px 30px;
}
q:before{
    content:'';
}
q:after{
    content:'';
}

/* 引用 */
blockquote {
    position: relative;
    padding: 2px 2px 2px 10px;
    box-sizing: border-box;
    background: none;
    color: var(--textColor);
    border-left: 6px solid var(--labelBgColor);
}

blockquote p {
    margin: 0px;
    padding: 0px;
    line-height: 1.6em;
}

blockquote cite {
    display: block;
    text-align: right;
    font-size: 0.8em;
}

cite, q {
    text-decoration: underline;
}

/* その他 */
fieldset {
    border: 0px solid var(--other);
}
legend {
    display: none;
}
cite{
    font-style: normal;
    font-weight: normal;
}
code{
    font-family: 'Courier New', 'ＭＳ ゴシック', monospace;
    font-weight: bold;
    line-height: 1.4em;
    color: var(--code);
    background-color: transparent;
    overflow: auto;
    overflow-x:scroll;
}
dfn{
    font-style: normal;
    font-weight: normal;
}
var{
    font-style: normal;
    font-weight: normal;
}
