.menu-list {
    display: initial;
    list-style: initial;
    font-size: 1em;
    line-height: 1.4em;
    border-bottom: 1px solid var(--borderColorA);
    height: auto;
}

.pagetop {
    position: relative;
    float: right;
    bottom: 0px;
    font-size: 80%;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}

/* Accordion Navigation */
.accordion {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
    color: var(--menuTextColor);
}
.accordion input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.accordion label {
    font-weight: bold;
    line-height: 2;
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    cursor: pointer;
    margin: 0 0 2px 0;
    background: var(--menuBgColor);
}
.accordion
.accordion-content {
    font-size: 0.8em;
    font-weight: bold;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.15s;
    transition: max-height 0.15s;
    background: none;
    border-bottom: 1px solid var(--borderColorA);
}
.accordion-content p {
    margin: 1em;
}
.accordion-content a {
    display: inline-block;
    text-decoration: none;
}
.accordion-content a:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--textColor);
}
.accordion-content a:hover {
    display: inline;
    color: var(--hoverColor);
}
.accordion-content ul {
    margin: 0.6em;
    margin-left: -10px;
    padding: 0px;
    list-style-type: none;
}
.accordion-content li {
    margin: 0em;
    margin-left: 20px;
    padding: 0px;
}

/* Accordion :checked */
.accordion input:checked ~ .accordion-content {
    max-height: 100%;
}

/* Accordion Icon */
.accordion label::after {
    line-height: 2;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 2em;
    height: 2em;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    text-align: center;
}
.accordion input[type=checkbox] + label::after {
    content: '◀';
}
.accordion input[type=checkbox]:checked + label::after {
    content: '◁';
    transform: rotate(-90deg);
}
